{{#if isFollowing}}
    <button type="button" id="follow_button">Follow</button>
    <button type="button" id="unfollow_button" hidden>Follow</button>
{{else}}
    <button type="button" id="follow_button" hidden>Follow</button>
    <button type="button" id="unfollow_button">Unfollow</button>
{{/if}}