<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Dig In!</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/feed">Feed</a>
                </li>
                <li>
                    <a href="/private">My Profile</a>
                </li>
                <li>
                    <a href="/search">Search</a>
                </li>
                <li>
                    <a href="/recipes/addRecipe">New Recipe</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>
