<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/main.css">
    <title>Dig In!</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/feed">Feed</a>
                </li>
                <li>
                    <a href="/private">My Profile</a>
                </li>
                <li>
                    <a href="/recipes/">Search</a>
                </li>
                <li>
                    <a href="/recipes/addRecipe">New Recipe</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
                <li>
                    <a href="/recipes">Recipes</a>
                </li>
                <li>
                    <a href="/allUsers">Other Users</a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
     <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="/public/js/search.js"></script>
    <script src="/public/js/followtag.js"></script>
</body>
</html>
