<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
=======
    <link rel="stylesheet" href="/public/css/main.css">
>>>>>>> 7efa36a2ee028a5e6f4b7c85aec9bbdcda6faaa2
    <title>Document</title>
</head>
<body>
    {{{body}}}
</body>
</html>