body{
    text-align: center;
}
a:link {
    text-decoration: none;
  }
.recipeInfo ul{
    text-align: center;
}
 #editProfile {
     color: white
 }
 li{
     list-style-type: none;
 }


 
  #tag{
    display: inline;
}

 #logout{
     text-align: right;
 }
 .tag{
     display: inline;
 }
 #id{
     display:block; 
 }
