/* .user_form input {
    display: block;
    font-size:11px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:70px;
    margin:2px 0 20px 10px;
}

.myNavBar {
    background-color: #70799e;  
}
h1 {
    font-weight: 100;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #70799e;      
}

nav li {
    float: right;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
nav li a:hover {
    background-color: #49516f;
} */
a:link {
    text-decoration: none;
  }
  .recipeList{
    text-decoration: none;
  }
  #tag{
    display: inline;
}
 body{
     text-align: center;
 }

 #logout{
     text-align: right;
 }
 #tag{
     display: inline;
 }
