 #editProfile {
     color: white
 }
a:link {
    text-decoration: none;
  }
 
  #tag{
    display: inline;
}
 body{
     text-align: center;
 }

 #logout{
     text-align: right;
 }
 .tag{
     display: inline;
 }
 #id{
     display:block; 
 }
