<div id="create_user" class="user_form">
    <form id="registration_form" method="POST" action="/createUser">
        <label for="registration_name">Name</label>
        <input type="text" id="registration_name" name="name" class="user_reg" class="form_input4">
        <label for="registration_email">Email</label>
        <input type="email" id="registration_email" name="email" class="user_reg" class="form_input4">
        <label for="registration_username">Username</label>
        <input type="text" id="registration_username" name="username" class="user_reg" class="form_input4">
        <label for="registration_password">Password</label>
        <input type="password" id="registration_password" name="password" class="user_reg" class="form_input4">        
        <button type="submit" id="registration_button">Register</button>
    </form>
</div>