<form id="tagForm" action="/tags" method='POST'>
    <label for="followTag">Follow a tag</label>
    <input type="text" id="followTag" name="followTag">
    <button class="btn btn-primary btn-sm" type="submit">Follow</button>
</form>

<div id = "tagList">
    <ul  class="list-group list-group-flush" id="followingTags">
        {{#each tags}} <li class="tag">{{this}}<button  class="btn btn-danger btn-sm" id = "unfollowTag" type="submit">Unfollow</button></li> {{/each}}
    </ul>
</div>