<div id="userProfile">
    <h1>{{user.username}}</h1>
    <a href="/followers" class="followLink">{{user.num_followers}} Followers</a>
    <a href="/following" class="followLink">{{user.num_following}} Following</a>
    <a href="/logout">Logout</a>
    <a href="/editUser">Edit Profile</a>
</div>