<div>
    <form id="new_recipe" action="/recipes" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">
        
        <label for="author">Author:</label>
        <input type="text" id="author" name="author">

        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients">

        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags">

        <label for="instructions">Instructions:</label>
        <input type="text" id="instructions" name="instructions">

        <label for="pictures">Pictures:</label>
        <input type="text" id="pictures" name="pictures">

        <button type="submit">Submit</button>
    </form>
</div>