<div>
    <form id="new_recipe" action="/recipes" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">

        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients">

        <label for="tags">Tags:</label>
        <input type="text" id="tags" name="tags">

        <label for="instructions">Instructions:</label>
        <input type="text" id="instructions" name="instructions">

        <button class="btn btn-primary btn-sm"type="submit">Submit</button>

    </form>
</div>