<div>
    <form id="new_recipe" action="/recipes" method="POST">
        <label for="title">Title:</label>
        <textarea id="title" name="title" rows =5></textarea>

        <label for="ingredients">Ingredients:</label>
        <textarea id="ingredients" name="ingredients" rows =5 class="form_input2"></textarea>

        <label for="tags">Tags:</label>
        <textarea id="tags" name="tags" rows =5 class="form_input2"></textarea>

        <label for="instructions">Instructions:</label>
        <textarea id="instructions" name="instructions" rows = 5 class="form_input2"></textarea>

        <button class="btn btn-primary btn-sm"type="submit">Submit</button>

    </form>
</div>