<div>
    <h1>All comments:</h1>

    <ul>
        {{#each comments}}
            <li>
                <a href="/otheruser/{{this.user_id}}">{{this.user}}</a>
                <p>{{this.comment}}</p>
                {{#if this.own_comment}}
                    <a href="/recipes/deleteComment/{{this._id}}">Delete comment.</a>
                {{/if}}
            </li>
        {{/each}}
     </ul>

</div>